extends ../layout/index 
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg" alt="Imagen de Nosotros")
            .col-md-7    
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac consectetur ex. Aenean metus quam, consequat vel pellentesque tempor, tincidunt sit amet nisi. In hac habitasse platea dictumst. Ut efficitur odio a felis aliquet pellentesque. Integer egestas massa sed auctor tempor. Etiam eu erat elit. 
                p Curabitur sodales sed nibh eu mattis. Etiam imperdiet facilisis ex. Sed sit amet laoreet purus. Aliquam erat volutpat. Nulla rhoncus, magna ac molestie luctus, sapien diam ultricies risus, ut pulvinar diam velit at nisi. Sed tristique pretium justo, non ornare erat malesuada sit amet. Praesent consequat sed tellus ac malesuada. Aliquam imperdiet risus vel lorem suscipit, at tristique odio bibendum. Proin placerat efficitur quam sed bibendum. Suspendisse potenti. 
                p Sed tempus eu felis a varius. Nunc luctus turpis nec fringilla blandit. Ut congue lobortis ante. Donec volutpat massa odio, nec accumsan nibh auctor ac. Vestibulum eget ultrices lacus. Duis vel mollis ex.
    .listado-iconos
        .container.mt-5.py.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Fusce purus mi, volutpat in dictum posuere, laoreet quis nisi. Sed tempus eu felis a varius. Nunc luctus turpis nec fringilla blandit. Ut congue lobortis ante. 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Fusce purus mi, volutpat in dictum posuere, laoreet quis nisi. Sed tempus eu felis a varius. Nunc luctus turpis nec fringilla blandit. Ut congue lobortis ante. 
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Fusce purus mi, volutpat in dictum posuere, laoreet quis nisi. Sed tempus eu felis a varius. Nunc luctus turpis nec fringilla blandit. Ut congue lobortis ante. 
